<main class="main">
  <div class="content">
    <div class="header">
      <h1>To-Do List</h1>
    </div>
    <div class="main-body">
      <div class="left-side">
        <h3>Quick List</h3>
        <div class="quick-list">
          <input type="text" placeholder="Add a new task" [(ngModel)]="newTask" (keydown.enter)="addTask()"
            class="input-container" />
          <button class="add-button" (click)="addTask()">Add</button>
        </div>
        <div class="quick-items-list">
          <div class="no-tasks" *ngIf="tasks.length === 0">
            <p>No tasks</p>
          </div>
          <div class="main-content" *ngFor="let task of tasks">
            <div class="tasks">
              <div class="task">
                <input type="checkbox" [checked]="task.completed" (change)="toggleTaskCompletion(task.id)"
                  class="mr-4" />
                <label [class.line-through]="task.completed">
                  {{ task.text }}
                </label>
              </div>
              <button (click)="deleteTask(task.id)" class="delete-button">
                🗑️
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <h3>Your Lists</h3>
        <div class="quick-list">
          <input type="text" placeholder="Add a new list" [(ngModel)]="newList" (keydown.enter)="addList()"
            class="input-container" />
          <button class="add-button" (click)="addList()">Add</button>
        </div>
        <div class="no-tasks" *ngIf="lists.length === 0">
          <p>No lists</p>
        </div>
        <div class="lists">
          <div *ngFor="let list of lists">
            <div class="list-item" (click)="openList(list)">
              {{ list.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>